:root {
    --theme: blueviolet;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* 100% of viewport height */
}

#bgImg {
    height: 100vh;
    width: 100vw;
    opacity: 0.5;
}

header {
    font-size: 4rem;
    font-weight: bold;
    color: var(--theme);
    position: absolute;
    left: 50%;
    top: 3%;
    translate: -50%;
}

/* for inline mode of texts*/
header,
label {
    white-space: nowrap;
}

.mb-3 {
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border: 2px solid var(--theme);

    padding: 20px;
    height: 70vh;
    width: fit-content;
    background-color: white;

}

.form-select {
    margin-bottom: 20px;
    width: 36vw;
    z-index: 0;
    border: 1px solid black;

}

.form-control {
    margin-bottom: 20px;
    width: 36vw;
    z-index: 0;
    border: 1px solid black;
}

#button {
    background-color: var(--theme);
    border-radius: 5px;
    border-color: black;
    width: 35vw;
    height: 35px;
    margin-top: 10px;
    line-height: 17px;
}

.input-container {
    position: relative;
    display: inline-block;
}

.error-icon {
    display: none;
    position: absolute;
    top: 33%;
    right: 10px;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    color: white;
    cursor: pointer;
}

.error-icon::after {
    content: "!";
}
